.resto-card {
  width: 185;
  height: 230;
  padding: 10px;
  margin: 5;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.resto-card > img {
  object-fit: cover;
}

img {
  width: 100%;
}

.name {
  color: rgb(8, 8, 8);
  font-weight: 600;
  padding-top: 5px;
}

.resto-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.cuisine > p {
  word-wrap: break-word;
  color: rgb(24, 24, 24);
  padding-top: 5px;
}
.starRate {
  color: rgb(24, 24, 24);
  padding-top: 5px;
}
